.navbar {
    background-color: #a29bfe; 
    padding: 10px 20px;
    position: fixed;
    width: 100%; 
    z-index: 1000; 
    top: 0; 
    transition: top 0.3s; 
}

.navbar-container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
}

.nav-link {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    transition: background 0.3s, color 0.3s; 
    border-radius: 5px; 
}

.nav-link:hover {
    background-color: #6c5ce7; 
    color: #dfe6e9;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column; 
        align-items: center;
    }

    .nav-link {
        padding: 10px 20px; 
        width: 100%;
        text-align: center; 
    }
}
