{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/about-css.css' %}">

    <div class="title--div">
        <h1 class="h1--about">About Me</h1>
    </div>


    <section class="skills">
        <h2>My Skills</h2>
        <div class="table-container">
            <table class="centered-table">
                <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HTML</td>
                        <td>Advanced</td>
                    </tr>
                    <tr>
                        <td>CSS</td>
                        <td>Beginner</td>
                    </tr>
                    <tr>
                        <td>JavaScript</td>
                        <td>Baby</td>
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>Baby</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="hobbies">
        <h2>Hobbies & Interests</h2>
        <p>I am trying to learn web development, working and trying out projects that really interst me my hobies are playing games and watching movies </p>
{% endblock content %}

