{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
    <link rel ="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/base.css' %}"
</head>
<body>
        {%include 'app/navbar.html'%}
        {%block content%}
        <!--pages-->


        {%endblock content%}
        <script src="{%static 'js/base.js' %}"></script>
    </body>
</html>