{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/home-css.css' %}">

    <header class="header">
        <div class="logo">
        </div>
        <h1 class="h1--home">Website</h1>
        <p class="subheading">A short insight on my work and goals</p>
        <a href="#portfolio" id="cta-button">View My Work</a>
    </header>

    <div class="flex-container">
        <section id="introduction" class="introduction">
            <h2>Introduction</h2>
            <div class="table-container">
                <table class="centered-table">
                    <tr>
                        <th>Name</th>
                        <td>Zildjian Klyde</td>
                    </tr>
                    <tr>
                        <th>About Me</th>
                        <td>I'm currently 20 years old studying IT to be a developer</td>
                    </tr>
                </table>
            </div>
        </section>

        <section id="portfolio" class="portfolio">
            <h2>Portfolio</h2>
            <div class="table-container">
                <table class="centered-table">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Description</th>
                            <th>Technologies</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><h4><a href="https://zildjianklyde.github.io/FavMusic/">Music</a></h4></td>
                            <td>Created this for school for favorite music.</td>
                            <td>HTML, CSS, JavaScript</td>
                        </tr>
                        <tr>
                            <td><h4><a href="https://zildjianklyde.github.io/E-Commerce/">E-commerce</a></h4></td>
                            <td>Created this for school to test our E-commerce website for an existing product.</td>
                            <td>HTML, CSS, JavaScript</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <section id="goals" class="goals">
        <h2>Goals</h2>
        <div class="table-container">
            <table class="centered-table">
                <thead>
                    <tr>
                        <th>Short-Term Goals</th>
                        <th>Long-Term Goals</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Learn and master new programming language.</td>
                        <td>Become a skilled developer.</td>
                    </tr>
                    <tr>
                        <td>Learn multimedia skills such as video editing.</td>
                        <td>Become a Film producer.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}
